<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="peliculas, series,cuentas de netflix,cuentas de spofity,cuentas de hbo max, cuentas de star plus"/>
    <!-- FAVI ICON-->
    <link rel="shortcut icon" href="./assets/img/logos/LOGO_SOMOS_PREMIUM.png" type="image/x-icon">
    <!-- REMIX ICONS CSS-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <!-- SWIPER CSS-->
    <link rel="stylesheet" href="./assets/css/swiper-bundle.min.css">
    <!-- MAIN CSS-->
    <link rel="stylesheet" href="./assets/css/main.css">
    <!--MEDIA QUERIES-->
    <link rel="stylesheet" href="./assets/css/mediaquerys.css">
    <!-- WHATSAPP FLOATING BUTTON-->
    <script type="text/javascript" src="./assets/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="./assets/js/floating-wpp.js"></script>
    <link rel="stylesheet" href="./assets/css/floating-wpp.css">

    <title>Somos Premium Peru</title>
</head>     
<body>
    <!--======== BEGIN: Navigation bar========-->
    <header class="header" id="header">
        <nav class="nav container">
            <a href="index.html" class="nav__logo">
                <img class="nav__logo_img" src="./assets/img/logos/LOGO_SOMOS_PREMIUM.png" alt="SOMOS PREMIUM LOGO">
            </a>
            
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <a href="#home" class="nav__link">
                        <li class="nav__item"> 
                            Contactenos
                         </li>
                    </a>
                    <a href="#plan" class="nav__link">
                        <li class="nav__item txt">
                            Plataformas
                        </li>
                    </a>   
                </ul>
                <i class="ri-close-line nav__close" id="nav-close"></i>
            </div>

            <div class="nav__toggle" id="nav-toggle">
                <i class="ri-menu-3-line"></i>
            </div>
        </nav>
    </header>
    <!--======== END: Navigation bar========-->

    <!--======== BEGIN: Main Container========-->
    <main>
        <section class="home" id="home">
            <img src="./assets/img/banner/BANNER.png" class="home__img" >
            <div class="home__container container grid">
                <div class="home__data">
                    <span class="home__data-subtitle">Todo lo que necesitas en un solo lugar</span>
                    <p class="home__data-title">
                        <span class="text-bold">Escoge el
                            <b class="txt-first-color">Mejor Plan</b> 
                            para ti
                        </span>
                    </p>
                    <a href="#plan" class="button">Explorar</a>
                </div>

                <div class="home__social">
                    <a href="https://www.facebook.com/Ultraplayperu28" target="_blank" class="home__social-link">
                        <i class="fab fa-facebook-square"></i>                  
                    </a>
                    <a href="https://www.instagram.com/somos.premiumpe/?hl=es" target="_blank" class="home__social-link">
                        <i class="fab fa-instagram"></i>
                    </a> 
                </div> 

                <div  class="whatsappBtn" id="whatsappBtn"></div> 
                <script type="text/javascript">
                   $(function () {
                        $('#whatsappBtn').floatingWhatsApp({                     
                        showPopup: true,
                        });
                });
                </script>

            </div>
        </section>

        <!--================ PLANS ================-->
        <section class="plan section" id="plan"> 
            <p class="section__title"><b class="uppercase"> Peliculas y series<br> ilimitadas</b>  &#128516; </p>

        </section>
    </main> 
    <!--======== END: Main Container========-->



    <!--======== BEGIN: Footer Container========-->
    <footer class="footer section">
        <div class="footer__copyright">
            <p class="footer__copy">&#169; 2021 Somos Premium Perú.</p>
            <p class="footer__copy">Hecho por Brann4</p>
        </div>
    </footer>
    <!--======== END: Footer Container========-->


    <!-- SCROLL REVEAL JS
    <script src="./assets/js/scrollreveal.min.js"></script>-->
    <!-- SWIPER JS -->
    <script src="./assets/js/swiper-bundle.min.js"></script>
    <!-- MAIN JS-->
    <script src="./assets/js/main.js"></script>-
</body>
</html>